/* style.css */

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; 
  color: #333;
}

header {
  background-color: #3498db; 
  color: #fff;
  padding: 20px;
  text-align: center;
}

.search-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  align-items: center;
}

.input-group {
  display: flex;
  margin-right: 10px;
}

input {
  flex: 1;
  width: 600px;
  padding: 12px;
  border: 1px solid #ddd; 
  border-radius: 4px;
  transition: border-color 0.3s ease; 
}

input:focus {
  border-color: #3498db; 
}

.select-group {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

label {
  margin-right: 5px;
}

select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

select:focus {
  border-color: #3498db;
}

button {
  width: 200px;
  padding: 12px;
  background-color: #3498db; 
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background-color: #2980b9; /* Darker color on hover */
}

.searchResults {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

/* Responsive table styles */
.responsive-table {
  width: 100%;
  border-collapse: collapse;
}

.responsive-table th, .responsive-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.responsive-table th {
  background-color: #3498db;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .responsive-table {
    overflow-x: auto;
  }
}

.select-group label {
  margin-right: 5px;
  color: #3498db; /* Updated color for the label */
}