/* style.css */

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
}

h1 {
  text-align: center;
  margin: 10px 0; /* Further reduced margin */
  color: #007bff;
  font-size: 24px; /* Updated font size */
}

form {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

input {
  width: 80%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
}

button {
  width: 80%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.searchResults {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
  margin-bottom: 20px;
}

a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #007bff;
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  text-decoration: underline;
}
